html
  head 
    title ClassPad - Your Classes
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/webstyle.css', media='screen', rel='stylesheet', type='text/css')
    
    script(src='/javascripts/libs/jquery-2.0.3.js')
    script(type='text/javascript'). //FUCKIN' DOT!
      function changeVisibility(id,visibility){
       var form = document.createElement("form");
       form.setAttribute("method", "post");
       form.setAttribute("action", "/changeVisibility");
       form.style.display = 'hidden';
       //id
       var ID = document.createElement('input');
       ID.setAttribute('type',"hidden");
       ID.setAttribute('name',"id");
       ID.setAttribute('value',id);
       form.appendChild(ID);
       document.body.appendChild(form);
       form.submit();
      }
 body
  .body.loggedin
   table.container
     tr.header
      td
        .navbar
          .navbar-inner
            .responsive-container
              a.brand(href='/') ClassPad 
              .subtitle the best shared digital paper
   .content-container      
    .subheader
     .loginmessage Create Class or Logout
     .btn-toolbar
      table.button-section
       tr
        td
         .btn-group
           button(onclick="location.href=\'/create_class'") 
            span.fa.fa-file
            span.content New class
           button(onclick="location.href=\'/logout'") 
            span.fa.fa-arrow-circle-o-down
            span.content Logout
         .clear
     .clear
    .data-container  
     form(action='/deleteSelected', method="post")
      h2 Class list
      button.delete(type="submit") 
            span.fa.fa-trash-o
            span.content Delete selected
      .clear
      .listaClassi-container
       table#listaClassi
        tr
          td.thead
          td.thead  Title
          td.thead  Author
          td.thead  Date
          td.thead  Visibility
          td.thead
        each obj in list
         tr
           td
            input(type="checkbox", name=obj.id)
           td=obj.title
           td=obj.author
           td=obj.date
           td=obj.visibility
           td.buttoncontent
            button(type="button", onClick="changeVisibility('#{obj.id}')")
             span.fa.fa-eye
             span.content Change Visibility
           td
            a.button.fa.fa-edit(href='/class/#{obj.id}') 
             span.linkcontent Open
      